* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

body {
    background-image: url("images/bg_image_03.jpg");
}

header {
  position:relative;
  height: 8rem;
  background:rosybrown;
  box-shadow: 0 4px 0.3125rem rgba(0,0,0,.3);
 }

 header h1{
   position: absolute;
   top: 3rem;
   left: 3rem;
   font-size: 2rem;
   color:lightblue;
}

nav {
  padding: 1rem 3rem ;
  background:rosybrown;
}
  nav ul{
    display: flex;
    flex-direction: row;
  }
  nav ul li{
    margin-right: 2rem;
  }
  nav ul li a {
    color:lightblue;
  }

main{
  width:70%;
  margin:auto;
  display: flex;
  flex-wrapï¼šwrap;
  justify-content:space-between;
}

section{
   flex: 3;
   padding: 3rem;
   background:lightblue;
 }

 article{
      min-height: 8rem;
      padding: 1rem;
      margin-bottom: 2rem;
      color:rosybrown;
      background:ivory;
    }

  aside{
    flex: 1;
    padding: 3rem;
    color:rosybrown;
    background:ivory;
  }

footer {
  padding: 2rem 3rem;
  text-align: center;
  background:rosybrown;
  color:lightblue;
}
